@import '~src/styles/variables/font-sizes';
@import '~src/styles/variables/spacings';
@import '~src/styles/variables/colors';
@import '~src/styles/variables/treeview';

// Variables from KendoUI Theme
@import '~@progress/kendo-theme-default/scss/variables';
@import '~@progress/kendo-theme-default/scss/functions/colors';

.action-list-wrapper {
  width: 24%;
  min-width: 432px;
  min-height: calc(100vh - #{$nav-size-px});
  background-color: $white;
  padding: ($gutter-doubled + $gutter-half) $gutter-one-and-half;
}

.action-point {
  &__icon {
    margin-right: $gutter-half;
  }

  &--last {
    margin-left: $gutter-one-and-half;
  }
}

.k-treeview {
  .k-i-expand,
  .k-i-collapse {
    margin-left: $gutter-base;
  }

  .k-mid {
    border-radius: $treeview-item-border-radius;
  }

  .k-in {
    width: 100%;
    cursor: pointer;
  }
}
.k-item {
  &[aria-level='1'] {
    padding: 0;
  }

  &[aria-selected='true'] {
    > .k-mid {
      background-color: $primary !important;

      > .k-icon {
        color: $primary-contrast;
      }
    }
  }

  &[aria-level='1'] {
    &:nth-child(odd) {
      > .k-mid {
        background-color: try-lighten($primary-lighter, 5);
      }

      [aria-level='2'] {
        &:nth-child(odd),
        &:nth-child(even) {
          [aria-level='3'] {
            &:nth-child(even),
            &:nth-child(odd) {
              > .k-mid {
                background-color: try-lighten($primary-lighter, 3);
              }
            }
          }
        }
      }
    }

    &:nth-child(even) {
      [aria-level='2'] {
        &:nth-child(even),
        &:nth-child(odd) {
          > .k-mid {
            background-color: try-lighten($primary-lighter, 3);
          }

          [aria-level='3'] {
            &:nth-child(odd),
            &:nth-child(even) {
              [aria-level='4'] {
                &:nth-child(even),
                &:nth-child(odd) {
                  > .k-mid {
                    background-color: try-lighten($primary-lighter, 3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
