<aside class="action-list-wrapper">
  <kendo-treeview [nodes]="actionPoints$ | async" textField="title" childrenField="subactions"
                  kendoTreeViewExpandable kendoTreeViewSelectable kendoTreeViewHierarchyBinding
                  [isDisabled]="isNodeDisabled">
    <ng-template kendoTreeViewNodeTemplate let-item>
      <div class="action-point"
           [ngClass]="{'action-point--last': !item.subactions || !item.subactions.length}">
        <fa-icon *ngIf="displayExtraIcon(item)" class="action-point__icon"
                 [icon]="getTypeIcon(item)" [style]="{color: getTypeColor(item)}">
        </fa-icon>
        {{ item.title }}
      </div>
    </ng-template>
  </kendo-treeview>
</aside>
<router-outlet></router-outlet>
