<aside class="action-list-wrapper">
  <kendo-treeview [nodes]="actionPoints$ | async" textField="title" childrenField="subactions"
                  kendoTreeViewExpandable kendoTreeViewSelectable kendoTreeViewHierarchyBinding>
    <ng-template kendoTreeViewNodeTemplate let-item>
      <div class="action-point" [ngClass]="{'action-point--last': !item.subactions || !item.subactions.length}">
        <fa-icon *ngIf="item.type !== undefined" class="action-point__icon"
                 [icon]="getTypeIcon(item.type)" [style]="{color: getTypeColor(item.type)}">
        </fa-icon>
        {{ item.title }}
      </div>
    </ng-template>
  </kendo-treeview>
</aside>
<router-outlet></router-outlet>
