/* You can add global styles to this file, and also import other style files */

// import configuration for custom variable values
@import './variables/colors';
@import './variables/font-sizes';
@import './variables/spacings';

// Base imports to be using custom variables from above
@import '~@progress/kendo-theme-default/scss/functions/_index.scss';
@import '~@progress/kendo-theme-default/scss/_variables.scss';
@import '~@progress/kendo-theme-default/scss/mixins/_index.scss';

// Dependencies
@import '~@progress/kendo-theme-default/scss/common/_index.scss';

// Generic content
@import '~@progress/kendo-theme-default/scss/styling/_index.scss';
@import '~@progress/kendo-theme-default/scss/utils/_index.scss';
@import '~@progress/kendo-theme-default/scss/typography/_index.scss';
@import '~@progress/kendo-theme-default/scss/avatar/_index.scss';
@import './variables/badge';
@import '~@progress/kendo-theme-default/scss/badge/_index.scss';

// Specific components
@import './variables/button';
@import '~@progress/kendo-theme-default/scss/button/_index.scss';
@import '~@progress/kendo-theme-default/scss/appbar/index';
@import './variables/treeview';
@import '~@progress/kendo-theme-default/scss/treeview/index';
@import './variables/grid';
@import './variables/progressbar';
@import '~@progress/kendo-theme-default/scss/grid/index';
@import '~@progress/kendo-theme-default/scss/progressbar/index';

html,
body {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $lightest-grey $off-white;

  &::-webkit-scrollbar {
    width: $gutter-quarter;
    background-color: $off-white;
    border-radius: $gutter-quarter;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $lightest-grey;
    border-radius: $gutter-quarter;
  }
}
