<kendo-appbar class="top-nav avoid-left-nav" position="top" positionMode="fixed">
  <kendo-appbar-section>
    <h1 class="title">Form Designer</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
    <kendo-badge-container>
      <button class="k-button k-button-clear">
        T
      </button>
      <kendo-badge shape="rounded" themeColor="tertiary" size="medium">8</kendo-badge>
    </kendo-badge-container>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <kendo-avatar [imageSrc]="avatar" shape="circle" width="32" height="32"></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>
<kendo-appbar class="left-nav" position="top" positionMode="fixed">
  <kendo-appbar-section>
    <button class="k-button brand">
      TTG
    </button>
  </kendo-appbar-section>
  <ng-container *ngFor="let item of leftHandNav">
    <kendo-appbar-section>
      <button class="k-button with-icon"
        [ngClass]="{'selected': item.selected, 'primary': item.hasUpdates, 'muted': item.muted}">
        <fa-icon [icon]="item.icon"></fa-icon>
      </button>
    </kendo-appbar-section>
  </ng-container>
</kendo-appbar>
<main class="avoid-left-nav">
  <router-outlet></router-outlet>
</main>
