@import '../styles/variables/font-sizes';
@import '../styles/variables/spacings';
@import '../styles/variables/colors';

// Command interfaces
@import '~@progress/kendo-theme-default/scss/appbar/index';

.title {
  font-size: $font-size-medium;
  margin: 0;
}

kendo-avatar {
  margin-left: $gutter-half;
}

.k-button {
  color: $icon-color;
}
