<kendo-appbar [position]="'top'">
  <kendo-appbar-section>
    <button class="k-button k-button-clear">
      MENU
    </button>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <h1 class="title">Form Designer</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
    <kendo-badge-container>
      <button class="k-button k-button-clear">
        T
      </button>
      <kendo-badge [shape]="'circle'" [themeColor]="'warning'" [size]="'small'">8</kendo-badge>
    </kendo-badge-container>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <kendo-avatar [imageSrc]="avatar" [shape]="'circle'" [width]="'26px'" [height]="'26px'"></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>
<router-outlet></router-outlet>
