<div class="tiles">
  <ng-container *ngFor="let tile of tiles">
    <app-overview-tile class="tiles__tile" [ngClass]="tile.gridClass" [title]="tile.title"
                       [counter]="tile.counter" [isExpandable]="tile.isExpandable"
                       [titleDarkness]="tile.titleDarkness">
      <ng-container [ngSwitch]="tile.component">
        <app-banner *ngSwitchCase="'banner'" imageSrc="assets/images/banner.png">
        </app-banner>
        <app-key-result-list *ngSwitchCase="'key-results'">
        </app-key-result-list>
      </ng-container>
    </app-overview-tile>
  </ng-container>
</div>
