@import '~src/styles/variables/spacings';
@import '~src/styles/variables/colors';

$tile-design-height: 128px;

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  padding-bottom: $main-content-padding;
  padding-right: $gutter-quarter;
  overflow-y: auto;
}

.tiles {
  flex: 1 1 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, $tile-design-height);
  margin: -$gutter-quarter;

  &__tile {
    padding: $gutter-quarter;
  }
}
