@import './spacings';
@import './colors';

$button-padding-x: $gutter-doubled;
$button-border-radius: 2px;
$primary-button-pressed-shadow: none;
$button-pressed-shadow: none;
$button-border: none;
$button-border-width: 0;
