// Customized KendoUI colors
$base-text: #495365;
$text-color: $base-text;
$primary: #31c0fc;
$primary-lighter: #d4f2ff;
$secondary: #596396;
$tertiary: #7a66ca;
$info: #537bcc;
$disabled-opacity: 0.3;

// Own colors
$grey: #80899b;
$light-grey: #97afb9;
$lightest-grey: #d0d3dd;
$off-white: #f4f9fd;
$icon-color: $grey;
$bg-color-inner: #eaf0f8;
$disabled-color: $lightest-grey;
