
$nav-size: 48;
$nav-size-px: $nav-size + px;

// Own spacing system
$gutter-base: 1.6rem;
$gutter-quarter: $gutter-base * 0.25;
$gutter-half: $gutter-base * 0.5;
$gutter-one-and-half: $gutter-base * 1.5;
$gutter-doubled: $gutter-base * 2;
