@import 'spacings';
@import 'font-sizes';

$treeview-item-padding-x: $gutter-half;
$treeview-item-padding-y: $gutter-quarter * 1.5;
$treeview-font-size: $font-size-medium;
$treeview-item-border-radius: 2px;
$treeview-indent: $gutter-one-and-quarter;
$treeview-item-hovered-bg: transparent;
$treeview-item-focused-shadow: none;
